<section id="mainCarouselSection">
    <div id="mainCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="~/assets/images/carousel/2.png" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Louvor e Música</h5>
                    <p>Adicione e verifique músicas e informações sobre o Louvor da IBET</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container" ng-controller="RelacoesMusicaisController as controller" ng-init="controller.init()">
    <div class="mt-5"></div>

    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <h3>Período</h3>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label class="control-label">De:</label>
                <input class="form-control" type="text" ng-model="controller.from" />
            </div>
            <div class="col-6">
                <label class="control-label">Até:</label>
                <input class="form-control" type="text" ng-model="controller.to" />
            </div>
        </div>
        <div class="mt-3"></div>
        <div class="row">
            <div class="col-12 text-right">
                <button type="button" class="btn btn-outline-success" id="confirmar-datas-relacao-musicas" ng-click="controller.getConfirmDates()">Confirmar datas <i class="fas fa-check"></i></button>
                <hr />
            </div>
        </div>

        <div class="mt-3"></div>
        <section id="itens-relacao-musicas" ng-show="controller.musicSet != null">
            <div class="row">
                <div class="col-12">
                    <h3>Relação de Músicas</h3>
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-2" ng-repeat="item in controller.musicSet">
                    <div class="card relacao-musical">
                        <div class="card-header">
                            <h5 class="card-title">Domingo <span class="data-relacao-musical"></span></h5>
                        </div>
                        <div class="card-body">
                            <div class="row musica-relacao-row" ng-repeat="songItem in item.relacoesMusicais">
                                <div class="col-10">
                                    <select class="form-control select2" ng-model="item.song">
                                        <option class="" value="">Selecione a música...</option>
                                        <option class="" ng-repeat="song in controller.songs" value="{{song.id}}">{{song.nome}} ({{song.autor}}) p. {{song.pagina}} {{song.edicao}}º edição</option>
                                    </select>
                                </div>
                                <div class="col-2">
                                    <button class="btn btn-dark btn-sm adicionar-linha-musica"><i class="fas fa-plus"></i></button>
                                    <button class="btn btn-danger btn-sm remover-linha-musica"><i class="fas fa-minus"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-3"></div>


            <div class="row">
                <div class="col-12 text-center">
                    <button class="btn btn-success" id="adicionar-relacao-button">Adicionar Relação <i class="fas fa-check"></i></button>
                </div>
            </div>

        </section>
    </div>
</div>