<section id="mainCarouselSection">
    <div id="mainCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="~/assets/images/carousel/2.png" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Louvor e Música</h5>
                    <p>Adicione e verifique músicas e informações sobre o Louvor da IBET</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container" ng-controller="RelacoesMusicaisController as controller" ng-init="controller.init()">
    <div class="mt-5"></div>

    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <h3>Período</h3>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label class="control-label">De:</label>
                <input class="form-control datepicker" type="text" ng-model="controller.from" />
            </div>
            <div class="col-6">
                <label class="control-label">Até:</label>
                <input class="form-control datepicker" type="text" ng-model="controller.to" />
            </div>
        </div>
        <div class="mt-3"></div>
        <div class="row">
            <div class="col-12 text-right">
                <button type="button" class="btn btn-outline-success" id="confirmar-datas-relacao-musicas" ng-click="controller.getConfirmDates()">Confirmar datas <i class="fas fa-check"></i></button>
                <hr />
            </div>
        </div>

        <div class="mt-3"></div>
        <section id="itens-relacao-musicas" ng-show="controller.musicSet.length > 0">
            <div class="row">
                <div class="col-12">
                    <h3>Relação de Músicas</h3>
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-2" ng-repeat="item in controller.musicSet">
                    <div class="card relacao-musical">
                        <div class="card-header">
                            <h5 class="card-title">Domingo <span class="data-relacao-musical">{{item.date}}</span></h5>
                        </div>
                        <div class="card-body">
                            <div class="musica-relacao-row" ng-repeat="songItem in item.songs">
                                <div class="row mb-2 form-group">
                                    <div class="col-10">
                                        <ui-select theme="selectize"
                                                   ng-model="songItem.selected"
                                                   style="width: 100%;"
                                                   ng-change="controller.selectSong(item)">
                                            <ui-select-match placeholder="Selecione uma música...">{{$select.selected.name}} ({{$select.selected.author}}) p. {{$select.selected.page}}, {{$select.selected.edition}}° edição</ui-select-match>
                                            <ui-select-choices repeat="item in controller.songs | filter: $select.search">
                                                <div ng-bind-html="item.name + ' (' + item.author + ') p. ' + item.page + ', ' + item.edition + '° edição' | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="col-2">
                                        <button class="btn btn-dark btn-sm adicionar-linha-musica" ng-click="controller.addSong(item)"><i class="fas fa-plus"></i></button>
                                        <button class="btn btn-danger btn-sm remover-linha-musica" ng-click="controller.removeSong(item, songItem)"><i class="fas fa-minus"></i></button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-3"></div>


            <div class="row">
                <div class="col-12 text-center">
                    <button class="btn btn-success" id="adicionar-relacao-button" ng-click="controller.add()">Adicionar Relação <i class="fas fa-check"></i></button>
                </div>
            </div>

        </section>
    </div>
</div>