<section id="mainCarouselSection">
    <div id="mainCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="~/assets/images/carousel/2.png" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Louvor e Música</h5>
                    <p>Adicione e verifique músicas e informações sobre o Louvor da IBET</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container" ng-controller="RelacoesMusicaisController as controller" ng-init="controller.init()">
    <div class="mt-5"></div>

    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <h3>Período</h3>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <strong class="strong">De: {{controller.periodicSet.from}}</strong>
            </div>
            <div class="col-6">
                <strong class="strong">Até: {{controller.periodicSet.to}}</strong>
            </div>
        </div>
        <div class="mt-5"></div>

        <section id="itens-relacao-musicas">
            <div class="row">
                <div class="col-12">
                    <h3>Relação de Músicas</h3>
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-2" ng-repeat="item in controller.periodicSet.musicSet">
                    <div class="card relacao-musical">
                        <div class="card-header">
                            <h5 class="card-title">Domingo <span class="data-relacao-musical">{{item.date | date: 'dd/MM/yyyy'}}</span></h5>
                        </div>
                        <div class="card-body">
                            <div class="musica-relacao-row" ng-repeat="song in item.songs">
                                <div class="row mb-2">
                                    <div class="col-12">
                                        <input type="text" class="form-control text-center" disabled="disabled" value="{{song.name}} ({{song.author}}) p. {{song.page}}, {{song.edition}}° edição" />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-3"></div>


            @*<div class="row">
                <div class="col-12 text-center">
                    <button class="btn btn-success" id="adicionar-relacao-button" ng-click="controller.add()">Adicionar Relação <i class="fas fa-check"></i></button>
                </div>
            </div>*@

        </section>
    </div>
</div>
