@model List<Musica>

<section id="mainCarouselSection">
    <div id="mainCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="~/assets/images/carousel/2.png" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Louvor e Música</h5>
                    <p>Adicione e verifique músicas e informações sobre o Louvor da IBET</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container" ng-controller="MusicaController as controller" ng-init="controller.init()">
    <div class="mt-5"></div>

    <div class="row">
        <div class="col-12 text-right">
            <button class="btn btn-success" type="button" id="adicionar-musica-button" ng-click="controller.openManageSongModal()">Adicionar Música <i class="fas fa-plus"></i></button>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12">
            <table class="table table-striped text-center">
                <thead>
                    <tr>
                        <th class="hidden-xs hidden-sm hidden-md hidden-lg">Id</th>
                        <th>Nome</th>
                        <th class="hidden-xs hidden-sm">Autor</th>
                        <th class="hidden-xs hidden-sm">Página</th>
                        <th class="hidden-xs hidden-sm">Edição</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="song in controller.songs">
                        <td class="hidden-xs hidden-sm hidden-md hidden-lg musica-id">{{song.id}}</td>
                        <td>{{song.nome}}</td>
                        <td class="hidden-xs hidden-sm">{{song.autor}}</td>
                        <td class="hidden-xs hidden-sm">{{song.pagina}}</td>
                        <td class="hidden-xs hidden-sm">{{song.edicao}}</td>
                        <td>
                            <button class="btn btn-sm btn-dark" ng-click="controller.openManageSongModal(song)"><i class="fas fa-pencil-alt"></i></button>
                            <button class="btn btn-sm btn-danger" ng-click="controller.remove(song.id)"><i class="fas fa-trash"></i></button>
                        </td>
                    </tr>
                    <tr ng-show="controller.songs == null || controller.songs.length == 0">
                        <td colspan="5">Não há músicas registradas</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <partial name="_ManageSongModal" />
</div>
