<section id="mainCarouselSection">
    <div id="mainCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="~/assets/images/carousel/2.png" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Louvor e Música</h5>
                    <p>Adicione e verifique músicas e informações sobre o Louvor da IBET</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="mt-5"></div>

    <div class="row">
        <div class="col-12">
            <button class="btn btn-success" type="button" data-toggle="modal" data-target="#adicionar-musica-modal">Adicionar Música <i class="fas fa-plus"></i></button>
        </div>
    </div>
</div>
