@model List<Musica>

<section id="mainCarouselSection">
    <div id="mainCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="~/assets/images/carousel/2.png" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Louvor e Música</h5>
                    <p>Adicione e verifique músicas e informações sobre o Louvor da IBET</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container" ng-controller="MusicaController as controller" ng-init="controller.init()">
    <div class="mt-5"></div>

    <div class="row">
        <div class="col-12 text-right">
            <button class="btn btn-success" type="button" id="adicionar-musica-button">Adicionar Música <i class="fas fa-plus"></i></button>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12">
            <table class="table table-striped text-center">
                <thead>
                    <tr>
                        <th class="hidden-xs hidden-sm hidden-md hidden-lg">Id</th>
                        <th>Nome</th>
                        <th class="hidden-xs hidden-sm">Autor</th>
                        <th class="hidden-xs hidden-sm">Página</th>
                        <th class="hidden-xs hidden-sm">Edição</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="musica in controller.musicas">
                        <td class="hidden-xs hidden-sm hidden-md hidden-lg musica-id">{{musica.id}}</td>
                        <td>{{musica.nome}}</td>
                        <td class="hidden-xs hidden-sm">{{musica.autor}}</td>
                        <td class="hidden-xs hidden-sm">{{musica.pagina}}</td>
                        <td class="hidden-xs hidden-sm">{{musica.edicao}}</td>l
                        <td>
                            <button class="btn btn-sm btn-dark editar-musica-button"><i class="fas fa-pencil-alt"></i></button>
                            <button class="btn btn-sm btn-danger remover-musica-button"><i class="fas fa-trash"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">Não há músicas registradas</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
