<!DOCTYPE html>
<html lang="pt-br" ng-app="worshipGeneratorApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WorshipGenerator</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/dist/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>
<body>
    <partial name="_Navigation" />
    <div class="shadow">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted d-print-none">
        <div class="container text-center">
            &copy; @DateTime.Now.Year - Worship Generator
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/font-awesome/dist/js/all.min.js"></script>
    <script src="~/js/custom.js" asp-append-version="true"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="~/js/app/app.module.js"></script>
    <script src="~/js/app/musica/musica.controller.js"></script>
    <script src="~/js/app/musica/relacoes-musicais.controller.js"></script>
    @*<script src="~/js/programacao/programacao.page.js"></script>
    <script src="~/js/musica/musica.page.js"></script>*@
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
