<!DOCTYPE html>
<html lang="pt-br" ng-app="worshipGeneratorApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WorshipGenerator</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/dist/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/plugins/angular-ui-select/select.min.css" />
    <link rel="stylesheet" href="~/css/plugins/selectize/selectize.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" href="~/css/plugins/bootstrap-clockpicker/bootstrap-clockpicker.min.css" />
    @*<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />*@
</head>
<body>
    <partial name="_Navigation" />
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted d-print-none">
        <div class="container text-center">
            &copy; @DateTime.Now.Year - Worship Generator
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/font-awesome/dist/js/all.min.js"></script>
    <script src="~/js/plugins/moment/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="~/js/plugins/bootstrap-clockpicker/bootstrap-clockpicker.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-sanitize.js"></script>
    <script src="~/js/plugins/angular-ui-select/select.min.js"></script>
    <script src="~/js/custom.js" asp-append-version="true"></script>
    <script src="~/js/app/app.module.js"></script>
    <script src="~/js/app/navigation/navigation.controller.js"></script>
    <script src="~/js/app/login/login.controller.js"></script>
    <script src="~/js/app/music/song.controller.js"></script>
    <script src="~/js/app/music/music-set.controller.js"></script>
    <script src="~/js/app/broadcast/broadcast.controller.js"></script>
    <script src="~/js/app/management/membership/membership.controller.js"></script>
    <script src="~/js/app/management/departments/department.controller.js"></script>
    <script src="~/js/app/management/departments/functions/function.controller.js"></script>
    <script src="~/js/programacao/programacao.page.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
