<div class="row text-center">
    <h1 class="text-uppercase">Últimas Relações Musicais</h1>
</div>
<div class="mt-5"></div>
<div class="row">
    <div class="col-12">
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th>Período</th>
                    <th>Autor</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>

                <tr ng-repeat="set in controller.periodicSetList" ng-show="controller.periodicSetList.length > 0">
                    <td>De {{from}} até {{set.to}}</td>
                    <td>{{set.author}}</td>
                    <td>
                        <a class="btn btn-sm btn-default ver-detalhes-relacao-musical" href="/Musica/DetalhesRelacao/{{set.id}}"><i class="fas fa-eye"></i></a>
                    </td>
                </tr>

                <tr ng-show="controller.periodicSetList.length == 0">
                    <td colspan="4">Não há relações musicais registradas</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
