<div class="container text-center" ng-controller="loginController as controller" ng-init="controller.init()">
    <form class="form-signin mt-5">
        <img class="mb-4" src="~/assets/images/logo/logo-black-text.png" alt="" width="100%">
        <h1 class="h3 mb-3 font-weight-normal">{{controller.message}}</h1>

        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Endereço de Email" required="" ng-model="controller.userLogin.email">

        <label for="inputPassword" class="sr-only">Senha</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Senha" required="" ng-model="controller.userLogin.password">
        
        <label for="inputConfirmPassword" class="sr-only">Confirmar Senha Password</label>
        <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Confirmar Senha" ng-show="controller.action == controller.EAction.REGISTER" ng-model="controller.userLogin.confirmPassword">

        <button class="btn btn-lg btn-success btn-block" type="button" ng-show="controller.action == controller.EAction.LOGIN" ng-click="controller.login()">Entrar</button>
        <button class="btn btn-lg btn-success btn-block" type="button" ng-show="controller.action == controller.EAction.REGISTER" ng-click="controller.register()">Criar Registro</button>

        <a class="btn btn-default mt-2" href="" ng-click="controller.openRegister()" ng-show="controller.action != controller.EAction.REGISTER">Registrar-se agora</a>
    </form>
</div>
